<div class='container'>
  <h1> List of all Restaurants </h1>
  <ul>
    <% @restaurants.each do |restaurant| %>
    <li>
      <%= restaurant.name %>
      <div> <%= restaurant.category %> food </div>
      <div> Address: <%= restaurant.address %>. Phone number: <%= restaurant.phone_number %></div>
      <%= link_to "See details", restaurant_path(restaurant), class: "btn btn-primary"%>
    <% end %>
    </li>
  </ul>
    <%= link_to 'Create a new Restaurant', new_restaurant_path %>
</div>

